body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--charcoal-grey);
  text-transform: none;

  background-color: white;
  background-position: top center;
  background-repeat: no-no-repeat;
}

.inner-page {
  color: var(--charcoal-grey);

  background-color: white;
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: white;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: red;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15
}

.button-red {
  background-color: red;
}

.button-green {
  background-color: green;
}

.button-yellow {
  background-color: yellow;
}

.button-show {
  font: inherit;
  color: black;
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

.catalog-item a {
  width: 71px;
  height: 14px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #000000;

}

.catalog-item h2 {
  font-size: 18px;
  line-height: 1.67;
  color: #000000;
}

.catalog-item p {
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  color: #666666
}

.btn-copy {
  font: inherit;
  line-height: 1.13;
  color: #ffffff;
}

.pagination-list {
  list-style: none;
}
.pagination-item a {
  color: #ffffff;

  background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: pink;
}
.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}

.main-navigation {
  line-height: 1.88;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 1.25;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 1.67;
}

.filter ul {
  font-size: 16px;
  list-style: none;
  line-height: 1.25;
  color: grey;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: black;
}
.filter-input:disabled + label {
  color: rgba(40, 49, 54);

  opacity: 0.3;
}



.main-footer {
  color: #000000;
  background-color: white;
}

.sphere {
width: 79px;
height: 79px;
background-color: grey;
display: flex;
flex: 0 0 auto;
border-radius: 50%;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-buttan {
  color: white;
  background-color: grey;
}

.modal {
  color: #000000;

  background-color: #f8f3f0;
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h4 {
  font-size: 45px;
  line-height: 1;
}

.login-form input[type="text"]
.login-form input[type="password"] {
  font: inherit;
  color: #000000;

  border: solid 2px var(--silver-two);
  background-color: #ffffff;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.visually-hidden {
  display: none;
}
