body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: #283136;
  text-transform: none;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-no-repeat;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 75px;

  min-height: 285px;
}

.inner-page {
  color: #283136;

  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: mid dle;
  text-transform: uppercase;

  background-color: red;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-red {
  background-color: #fb565a;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}


.button-green {
  background-color: #00ca74;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-yellow {
  background-color: #efc84a;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-send{
  background-color: #fb565a;
  width: 260px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}

.button-show {
  font: inherit;
  color: black;
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

.catalog-item a {
  width: 71px;
  height: 14px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #000000;

}

.catalog-item h2 {
  font-size: 18px;
  line-height: 1.67;
  color: #000000;
}

.catalog-item p {
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  color: #666666
}

.btn-copy {
  font: inherit;
  line-height: 1.13;
  color: #ffffff;
}

.button-price{
  background-color: #fb565a;
  width: 200px;
  height: 50px;
  padding-top: : 19px;
  padding-right: 60px;
  padding-bottom: 18px;
  padding-left: 62px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

.button-price:hover,
.button-price:focus {
  background-color: #e74246;
}

.button-price:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

}

.pagination-list {
  list-style: none;
}
.pagination-item a {
  color: #ffffff;

  background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: pink;
}
.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 285px;
  font: inherit;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
}

.main-header-logo {
  width: 160px;
  height: 60px;
  align-items: left; /*не работает*/

/*Временно*/
  display: block;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;

  background-color: #ffffff;

  /*Временно*/
  min-height: 70px;
  background-color: transparent;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  width: 620px;
  margin: 0;
  padding: 0;

  list-style: none;
  /*Временно*/
  min-height: 70px;
}

.user-navigation {
  width: 140px;
  margin: 0;
  padding: 0;

  list-style: none;
  /*Временно*/
  min-height: 70px;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.features-list {
  display:flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  /*Temporary*/
  min height: 347px;
}

.feature-item {
  text-align: left;
  width: 300px;

  /*Temporary*/
  min height: 347px;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 1.25;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 1.67;
}

.filter ul {
  font-size: 16px;
  list-style: none;
  line-height: 1.25;
  color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}
.filter-input:disabled + label {
  color: rgba(40, 49, 54);

  opacity: 0.3;
}



.main-footer {
  margin-top: 0px;
  color: #000000;
  background-color: #ffffff;

  /*Temp*/
  background: none;
  min-height: 217px;
}

.main-footer .container {
  display: flex;
}

.footer-social {
  width: 261px;
  margin: 0;
  margin-right: 139px;

  /*Temp*/
  min-height: 217px;
}

.footer-adv {
  width: 545px;
  margin: 0;

  /*Temp*/
  min-height: 217px;
}

.sphere {
width: 79px;
height: 79px;
background-color: grey;
display: flex;
flex: 0 0 auto;
border-radius: 50%;
justify-content: center;
align-items: center;
}

.sphere:hover,
.sphere:focus {
  background-color: #e74246;
}

.sphere:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  stroke: grey;
}


.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-buttan {
  color: #ffffff;
  background-color: grey;
}

.modal {
  color: #000000;

  background-color: #f8f3f0;
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h4 {
  font-size: 45px;
  line-height: 1;
}

.login-form input[type="text"]
.login-form input[type="password"] {
  font: inherit;
  color: #000000;

  border: solid 2px var(--silver-two);
  background-color: #ffffff;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px;
  width: 1px ;
  overflow: hidden;
}
